.feature{
    background: $grey;
    padding: 100px 0;
    text-align: center;
    &__icon, &__title{
        padding-bottom: 25px;
    }
    &__title{
        font-size: 20px;
        font-weight: bold;
    }
    &__p{
        font-size: 14px;
    }
    &__col{
        &_pad{
            padding: 0 20px;
        }
    }
}


