.footer{
    color:#fff;
    padding: 75px 0;
    &_bg{
        background: $dark;
    }
    &__logo{
        padding-bottom: 20px;
    }

    &__socials,&__list{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }


    &__social{
        margin-right: 15px;

        &:last-child{
            padding-right: 0;
        }
        
        text-align: center;
        background: #fff;
        border-radius: 50%;
        width:  30px;
        height: 30px;
    }

    &__link{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        &_red{
            color: $red;
        }
        &_underline{
            text-decoration: underline;
            text-transform: none;
        }
    }

    &__title{
        font-size: 28px;
        padding-bottom: 35px;
        margin: 0;
    }

    &__list{
        display: flex;
        flex-direction: column;
        &_capitalize{
            text-transform: capitalize;
        }
    }
  
}
